.gdbar img {
  width: 450px !important;
  height: 100px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 500px !important;
  height: 120px !important;
}

slides > slide.title-slide hgroup h1 {
  font-size: 36pt;
}

slides > slide:not(.nobackground):before {
  width: 135px;
  height: 30px;
  background-size: 135px 30px;
}

slides > slide hgroup h2 {
  font-size: 120%;
}

